<ion-view class="patternBg">
    <ion-content>
        <div ng-if="IsList">
            <div class="container">
                <div class="s10"></div>
                <div class="row row-center">
                    <div class="col">
                        <div class="searchBox">
                            <input id="mytext" type="text" ng-model="Searchmodel.Search" class="formControl"
                                ng-model-options="{ debounce: 1500 }" ng-change="FilterData()" placeholder="Filter by  Name or Description">
                            <button type="button" class="cBtn cBtn-blue" ng-click="FilterData()">
                                <span>Search</span>
                            </button>
                            <a ng-click="Add()" class="cBtn cBtn-green cBtn-autoWidth d-flex items-center justify-center gap-2">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                </svg>
                                <span>Add Department</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                <div class="cDataTable">
                    <table id="DepartmentTable" class="cell-border" width="100%">
                        <thead>
                            <tr>
                                <th class="all">
                                    No
                                </th>
                                <th>Name </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Is Active
                                </th>
                                <th class="all">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="o in lstDepartment">
                                <td>{{$index + 1}}</td>
                                <td>
                                    <span ng-if="o.Name.length<=50">{{o.Name || "N/A"}}</span>
                                    <span ng-if="o.Name.length>50" title="{{o.Name}}">{{o.Name | limitTo:50}}...</span>
                                </td>
                                <td>
                                    <span ng-if="o.Description.length<=50">{{o.Description || "N/A"}}</span>
                                    <span ng-if="o.Description.length>50" title="{{o.Description}}">{{o.Description |
                                        limitTo:50}}...</span>
                                </td>
                                <td class="text-center"><span style="font-size: 20px;color: green" ng-if="o.IsActive==1" class="ng-scope">✔</span>
                                    <span style="font-size: 20px;color: red" ng-if="o.IsActive==0" class="ng-scope">✖</span>
                                </td>
                                <td class="text-center">
                                    <a ng-click="CopyToModel(o)" class="btnAction btnAction-edit">
                                        <i class="ion-edit" title="Edit">
                                        </i>
                                    </a>
                                    <a ng-click="DeleteDepartment(o.id)" class="btnAction btnAction-error">
                                        <i class="ion-trash-a" title="Delete">
                                        </i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                </div>
            </div>
            <!-- END .container -->
        </div>
        </div>
        <!-- ng-if="!IsList" -->
        <div class="container" ng-if="!IsList">
            <form name="FormDepartment" class="cForm light">
                <div class="infoBox02">
                    <div class="container">
                        <div class="row responsive-sm">
                            <div class="col">
                                <label for="">Name*</label>
                                <input type="text" class="formControl" maxlength="100" ng-maxlength="100" name="Name"
                                    ng-required="true" placeholder="Name" ng-model="model.Name">
                                <span class="errorMsg text-center" ng-show="formsubmit && (FormDepartment.Name.$dirty || FormDepartment.Name.$invalid)">
                                    <span ng-show="FormDepartment.Name.$error.required">
                                        Please Enter Name
                                    </span>

                                    <!-- <span ng-show="FormDepartment.Name.$error.maxlength">
                                        Maximum length is 100.
                                    </span> -->
                                </span>
                            </div>
                            <!-- </div>
                        <div class="row responsive-sm"> -->
                            <div class="col">
                                <label for="">Description</label>
                                <input type="text" name="Description" maxlength="100" ng-maxlength="100" class="formControl"
                                    placeholder="Description" ng-model="model.Description">
                                <!-- <span class="errorMsg text-center" ng-show="formsubmit && (FormDepartment.Description.$dirty || FormDepartment.Description.$invalid)">
                                    <span ng-show="FormDepartment.Description.$error.maxlength">
                                        Maximum length is 100.
                                    </span>
                                </span> -->
                            </div>

                        </div>

                        <div class="row responsive-sm">
                            <div class="col">
                                <label class="formCheck" for="Active"><input type="checkbox" id="Active" ng-model="model.IsActive"><span>Active</span></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="cBtn cBtn-green cBtn-block cBtn-shadow d-flex items-center justify-center gap-2" ng-click="SaveDepartment(FormDepartment)"
                                    type="submit">
                                    <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 24 24">
                                        <path fill-rule="evenodd" d="M9 2.221V7H4.221a2 2 0 0 1 .365-.5L8.5 2.586A2 2 0 0 1 9 2.22ZM11 2v5a2 2 0 0 1-2 2H4v11a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2h-7Z" clip-rule="evenodd"/>
                                      </svg>
                                    Save</button>
                            </div>
                        </div>
                        <div class="s20"></div>
                    </div>
                </div>
                
                
            </form>
        </div>
    </ion-content>
</ion-view>