<ion-view class="patternBg">
    <ion-content>
        <div class="container">
            <div class="s10"></div>
            <div class="row row-center">
                <div class="col">
                    <div class="searchBox">
                        <input id="mytext" type="text" ng-model="Searchmodel.Search" class="formControl"
                            ng-model-options="{ debounce: 1500 }" ng-change="FilterData()" placeholder="Filter by Code, Customer, UOM, Batch No, Location, Qty, Cost or Total Cost">
                        <button type="button" class="cBtn cBtn-blue" ng-click="FilterData()">
                            <span>Search</span>
                        </button>
                        <!-- <a ng-click="EnableFilterOption()" class="cBtn cBtn-green cBtn-autoWidth">
                            <i class="ion-ios-cloud-download-outline" title="Advance Search"><span> Advance Search</span></i>
                        </a> -->
                        <a ng-click="EnableFilterOption()" class="cBtn cBtn-green cbtn-onlyicon" title="Advance Search">
                            <i class="ion-ios-arrow-down" title="Advance Search"></i>
                        </a>
                        <!-- <a ng-click="Export()" class="cBtn cBtn-green cBtn-autoWidth">
                            <i class="ion-ios-cloud-download-outline" title="Export Sales Report"></i> <span>Export Sales Report</span>
                        </a> -->
                        <a ng-click="Export()" class="cBtn cBtn-green cbtn-onlyicon" title="Export Excel">
                            <i class="ion-ios-cloud-download-outline" title="Download Excel"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="CustFilter" style="display:none;">

                <my-widget startdate='false' enddate='false' status='false'></my-widget>
            </div>
            <div class="s20"></div>
            <div class="cDataTable">
                <table id="ISOMReportTable" class="cell-border" width="100%">
                    <thead>
                        <tr>
                            <th class="all">No</th>
                            <th>Customer </th>
                            <th>Stock Type </th>
                            <th>Item Code</th>
                            <th>UOM</th>
                            <th>Batch Number</th>
                            <th>Location</th>
                            <th>Qty</th>
                            <th>Cost</th>
                            <th>TotalCost</th>

                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </ion-content>
</ion-view>