<ion-view class="patternBg">
    <ion-content>
        <div ng-if="IsList">
            <div class="container">
                <div class="row row-center">
                    <div class="col">
                        <div class="searchBox">
                            <input id="mytext" type="text" ng-model="Searchmodel.Search" class="formControl"
                                ng-model-options="{ debounce: 1500 }" ng-change="FilterData()" placeholder="Filter by Name or Parent">
                            <button type="button" class="cBtn cBtn-blue" ng-click="FilterData()">
                                <span>Search</span>
                            </button>
                            <a ng-click="Add()" class="cBtn cBtn-green cBtn-autoWidth d-flex items-center justify-center gap-2">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                </svg>
                                <span>Add Item
                                    Category</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                <div class="cDataTable">

                    <table id="ItemCategoryTable" class=" cell-border" width="100%">
                        <thead>
                            <tr>
                                <th class="all">
                                    No
                                </th>
                                <th>Parent </th>
                                <th>
                                    Name
                                </th>
                                <th class="all">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="o in lstItemCategory">
                                <td>{{$index + 1}}</td>
                                <td>
                                    {{o.ParentItemCategory.Name}}
                                </td>
                                <td>
                                    {{o.Name}}
                                </td>
                                <td>
                                    <a ng-click="CopyToModel(o)" class="btnAction btnAction-edit">
                                        <i class="ion-edit" title="Edit">
                                        </i>
                                    </a>
                                    <a ng-click="DeleteItemCategory(o.id)" class="btnAction btnAction-error">
                                        <i class="ion-trash-a" title="Delete">
                                        </i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </div>
                </div>
            </div>
            <!-- END .container -->
        </div>
        </div>
        <!-- ng-if="!IsList" -->
        <div class="container" ng-if="!IsList">

            <div class="s10"></div>
            <form name="FormItemCategory" class="cForm light">
                <div class="infoBox02">
                    <div class="container">
                        <div class="row responsive-sm">
                            <div class="col col-50">
                                <label for="Name">Name*</label>
                                <input type="text" class="formControl" name="Name" ng-required="true" maxlength="50"
                                    ng-maxlength="50" placeholder="Name" ng-model="model.Name">
                                <span class="errorMsg text-center" ng-show="formsubmit && (FormItemCategory.Name.$dirty || FormItemCategory.Name.$invalid)">
                                    <span ng-show="FormItemCategory.Name.$error.required">
                                        Please Enter Name
                                    </span>
                                    <span ng-show="FormItemCategory.Name.$error.maxlength">
                                        Maximum length is 50.
                                    </span>
                                </span>
                            </div>
                            <div class="col col-50">
                                <label for="Parent">Parent</label>
                                <select class="formControl" name="Parent" ng-model="model.Parent">
                                    <option value="" disabled>Select Parent</option>
                                    <option value="{{o.id}}" ng-repeat="o in lstParentItemCategory">{{o.Name}}</option>
                                </select>
                            </div>
                        </div>                        
                        <div class="row">
                            <div class="col">
                                <button class="cBtn cBtn-green cBtn-block cBtn-shadow" ng-click="SaveItemCategory(FormItemCategory)"
                                    type="submit"><i class="ion-document-text"></i>
                                    Save</button>
                            </div>
                        </div>
                        <div class="s10"></div>
                    </div>
                </div>
                
            </form>
        </div>
    </ion-content>
</ion-view>