<ion-view class="patternBg">
    <ion-content>
        <div ng-if="IsList">
            <div class="container">
                <div class="s10"></div>
                <div class="row row-center">
                    <div class="col">
                        <div class="searchBox">
                            <input type="text" ng-model="Searchmodel.Search" class="formControl" ng-model-options="{ debounce: 1500 }"
                                ng-change="FilterData()" placeholder="Filter by Type, Description or Short Code">
                            <button type="button" class="cBtn cBtn-blue" ng-click="FilterData()">
                                <span>Search</span>
                            </button>
                            <a ng-click="Add()" class="cBtn cBtn-green cBtn-autoWidth d-flex items-center justify-center gap-2">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                </svg> 
                                <span>Add Popup Note</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="s20"></div>
                <div class="cDataTable">

                    <table id="PopupNoteTable" class=" cell-border" width="100%">
                        <thead>
                            <tr>
                                <th class="all">
                                    No
                                </th>
                                <th>Name </th>
                                <th> Message </th>
                                <th>Show Once per Transaction </th>
                                <th class="all">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="o in lstPopupNote">
                                <td>{{$index + 1}}</td>
                                <td>
                                    <span ng-if="o.name.length<=45">{{o.name || "N/A"}}</span>
                                    <span ng-if="o.name.length>45" title=" {{o.name}}">{{o.name | limitTo:45}}...</span>
                                </td>
                                <td>
                                    <span ng-if="o.message.length<=200">{{o.message|| "N/A"}}</span>
                                    <span ng-if="o.message.length>200" title=" {{o.message}}">{{o.message |
                                        limitTo:200}}...</span>
                                </td>
                                <td><span style="font-size: 20px;color: green" ng-if="o.showoncepertransaction ==1"
                                        class="ng-scope">✔</span>
                                    <span style="font-size: 20px;color: red" ng-if="o.showoncepertransaction ==0" class="ng-scope">✖</span>
                                </td>
                                <td>
                                    <a ng-click="CopyToModel(o)" class="btnAction btnAction-edit">
                                        <i class="ion-edit" title="Edit">
                                        </i>
                                    </a>
                                    <a ng-click="DeletePopupNote(o.id)" class="btnAction btnAction-error">
                                        <i class="ion-trash-a" title="Delete">
                                        </i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END .container -->
        </div>
        </div>
        <!-- ng-if="!IsList" -->
        <div class="container" ng-if="!IsList">
            <div class="s20"></div>
            <!-- <a ng-click="ResetAll()" class="cBtn cBtn-blue">
                <i class="ion-arrow-left-c" title="Back">
                      Return To List
                    </i>
            </a> -->

            <div class="s10"></div>
            <form name="FormPopupNote" class="cForm light">
                <div class="infoBox02">
                    <div class="container">
                        <div class="s25"></div>
                        <div class="row responsive-sm">

                            <div class="col col-33">
                                <label for="Name">Name*</label>
                                <input type="text" class="formControl" name="name" ng-required="true" maxlength="45"
                                    ng-maxlength="45" placeholder="Name" ng-model="model.name">
                                <span class="errorMsg text-center" ng-show="formsubmit && (FormPopupNote.name.$dirty || FormPopupNote.name.$invalid)">
                                    <span ng-show="FormPopupNote.name.$error.required">
                                        Please Enter name
                                    </span>

                                    <!-- <span ng-show="FormPopupNote.name.$error.maxlength">
                                        Maximum length is 100.
                                    </span> -->
                                </span>
                            </div>

                            <div class="col col-33">
                                <label for="Message">Message</label>
                                <input type="text" class="formControl" name="message" maxlength="200" ng-maxlength="200"
                                    class="formControl" placeholder="Message" ng-model="model.message">
                                <span class="errorMsg text-center" ng-show="formsubmit && (FormPopupNote.message.$dirty || FormPopupNote.message.$invalid)">
                                    <span ng-show="FormPopupNote.message.$error.maxlength">
                                        Maximum length is 200.
                                    </span>
                                </span>
                            </div>


                            <div class="col col-33">
                                <label class="formCheck" for="Show Once per Transaction">Show Once per
                                    Transaction</label>
                                <input type="checkbox" class="formControl_checkbox" ng-model="model.showoncepertransaction"
                                    style="height:30px;width:50px;" ng-checked="model.showoncepertransaction">
                            </div>

                        </div>

                    </div>
                </div>
                <div class="s20"></div>
                <div class="row">
                    <div class="col">
                        <button class="cBtn cBtn-green cBtn-block cBtn-shadow" ng-click="SavePopupNote(FormPopupNote)"
                            type="submit"><i class="ion-document-text"></i>
                            Save</button>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>