<ion-view class="patternBg">
    <ion-content>
        <div ng-if="IsList">
            <div class="container">
                <div class="s10"></div>
                <div class="row row-center">
                    <div class="col">
                        <div class="searchBox">
                            <input id="mytext" type="text" ng-model="Searchmodel.Search" class="formControl"
                                ng-model-options="{ debounce: 1500 }" ng-change="FilterData()" placeholder="Filter by Code,Name, Description, Total or P/R No">
                            <button type="button" class="cBtn cBtn-blue" ng-click="FilterData()">
                                <span>Search</span>
                            </button>
                            <a ng-click="EnableFilterOption()" class="cBtn cBtn-green cbtn-onlyicon" title="Advance Search">
                                <i class="ion-ios-arrow-down" title="Advance Search"></i>
                            </a>
                            <a ng-click="Add()" class="cBtn cBtn-green cBtn-autoWidth d-flex items-center justify-center gap-2">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                </svg>
                                 <span>Add Purchase
                                    Return</span>
                            </a>
                        </div>
                        <div class="CustFilter" style="display:none;">
                            <my-widget status='false'></my-widget>
                        </div>
                    </div>
                </div>
                <div class="s20"></div>
                <div class="cDataTable">
                    <table id="PurchaseReturnTable" class="cell-border" width="100%">
                        <thead>
                            <tr>
                                <th class="all">No</th>
                                <th>P/R No </th>
                                <th>Purchase Date</th>
                                <th>Customer Code</th>
                                <th>Customer Name</th>
                                <th>Description</th>
                                <th>Branch Code</th>
                                <th>Sub Total</th>
                                <th>Tax</th>
                                <th>Final Total</th>
                                <th class="all">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div ng-if="!IsList">
            <form name="FormPurchaseReturn" class="cForm light">
                <div class="row responsive-sm">
                    <div class="col col-50">
                        <div class="infoBox02">
                            <!-- Creditor -->
                            <div class="row responsive-sm">
                                <div class="col col-20">
                                    <label for="CustomerCode">Customer* </label>
                                </div>
                                <div class="col col-80">

                                    <div class="row itemdrp" style="padding:0" hide-reset="false" modal-title="Search Customer"
                                        modal-select="" ng-model="model.CustomerCode" on-select="DisplayCustomerCode(model)"
                                        options="lstCustomer" option-property="id" has-search="true">
                                        <input class="formControl" ng-model="model.CustomerCode" readonly name="CustomerCode"
                                            ng-required="true" style="cursor: pointer !important;float: left;border-right: none;border-top-right-radius:0px;border-bottom-right-radius: 0px; ">
                                        <button style="padding: 2px"> <i class="icon ion-arrow-down-b" title="Select"></i>
                                            <div class="option">
                                                <div class="row" style="font-weight: bold;font-size: 14px;" ng-show="$index==0">
                                                    <div class="col" style="padding: 1px;" class="text-center">Account
                                                        Number
                                                    </div>
                                                    <div class="col" style="padding: 1px;" class="text-center">Name
                                                    </div>
                                                </div>
                                                <br />
                                                <div class="row" style="font-size: 14px;">
                                                    <div class="col" class="text-center">{{option.AccountNumbder}}</div>
                                                    <div class="col" class="text-center">{{option.Name}}</div>
                                                </div>
                                            </div>
                                        </button>
                                    </div>

                                    <!-- <select class="formControl" name="CustomerCode" ng-required="true"
                                        ng-model="model.CustomerCode" ng-change="SelectCustomer(model.CustomerCode)">
                                        <option value="{{o.AccountNumbder}}" ng-repeat="o in lstCustomer">
                                            {{o.AccountNumbder}}-{{o.Name}}</option>
                                    </select> -->
                                    <span class="errorMsg text-center" ng-show="formsubmit && (FormPurchase.CustomerCode.$dirty || FormPurchase.CustomerCode.$invalid)">
                                        <span ng-show="FormPurchase.CustomerCode.$error.required">
                                            Please Select Customer
                                        </span>
                                    </span>
                                </div>
                            </div>

                            <!-- Name -->
                            <div class="row responsive-sm">
                                <div class="col col-20">
                                    <label>Name* </label>
                                </div>
                                <div class="col col-80">
                                    <input type="text" class="formControl" maxlength="100" ng-maxlength="100" name="CustomerName"
                                        ng-required="true" ng-model="model.CustomerName">
                                    <span class="errorMsg text-center" ng-show="formsubmit && (FormPurchaseReturn.CustomerName.$dirty || FormPurchaseReturn.CustomerName.$invalid)">
                                        <span ng-show="FormPurchaseReturn.CustomerName.$error.required">
                                            Please Enter Name
                                        </span>
                                    </span>
                                </div>
                            </div>

                            <!-- Address line -1 -->
                            <div class="row responsive-sm">
                                <div class="col col-20">
                                    <label for="Address">Address </label>
                                </div>
                                <div class="col col-80">
                                    <input type="text" class="formControl" maxlength="100" ng-maxlength="100" name="Address1"
                                        ng-model="model.Address1">
                                    <input type="text" class="formControl" maxlength="100" ng-maxlength="100" name="Address2"
                                        ng-model="model.Address2">
                                    <input type="text" class="formControl" maxlength="100" ng-maxlength="100" name="Address3"
                                        ng-model="model.Address3">
                                </div>
                            </div>

                            <!-- Branch -->
                            <div class="row responsive-sm">
                                <div class="col col-20">
                                    <label for="Branch">Branch </label>
                                </div>
                                <div class="col col-80">
                                    <select class="formControl" name="BranchCode" ng-model="model.BranchCode">
                                        <option value="{{o.Name}}" ng-repeat="o in lstBranch">{{o.Name}}</option>
                                    </select>
                                    <span class="errorMsg text-center" ng-show="formsubmit && (FormPurchaseReturn.BranchCode.$dirty || FormPurchaseReturn.BranchCode.$invalid)">
                                        <span ng-show="FormPurchaseReturn.BranchCode.$error.required">
                                            Please Select Branch
                                        </span>
                                    </span>
                                </div>
                            </div>

                            <!-- Reason -->
                            <div class="row responsive-sm">
                                <div class="col col-20">
                                    <label for="Reason">Reason* </label>
                                </div>
                                <div class="col col-80">
                                    <input type="text" id="Reason" class="formControl" name="Reason" placeholder="Enter Reason"
                                        ng-model="model.Reason">
                                    <span class="errorMsg text-center" ng-show="formsubmit && (FormPurchaseReturn.Reason.$dirty || FormPurchaseReturn.Reason.$invalid)">
                                        <span ng-show="FormPurchaseReturn.Reason.$error.required">
                                            Please Enter Reason
                                        </span>
                                    </span>
                                </div>
                            </div>

                            <!-- Purchase Location -->
                            <div class="row responsive-sm">
                                <div class="col col-20">
                                    <label for="PurchaseLocation">Purchase Location* </label>
                                </div>
                                <div class="col col-80">
                                    <select class="formControl" name="idLocations" ng-required="true" ng-model="model.idLocations"
                                        ng-change="ChangeLocation()">
                                        <option value="{{o.id}}" ng-repeat="o in lstLocations">{{o.Name}}</option>
                                    </select>
                                    <span class="errorMsg text-center" ng-show="formsubmit && (FormPurchaseReturn.idLocations.$dirty || FormPurchaseReturn.idLocations.$invalid)">
                                        <span ng-show="FormPurchaseReturn.idLocations.$error.required">
                                            Please Select Purchase Location
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col col-50">
                        <div class="infoBox02">
                            <!-- P/R No -->
                            <div class="row responsive-sm">
                                <div class="col col-20">
                                    <label for="P/RNo">P/R No </label>
                                </div>
                                <div class="col col-80">
                                    <input ng-model="model.DocNo" readonly class="formControl">
                                </div>
                            </div>

                            <!-- Date -->
                            <div class="row responsive-sm">
                                <div class="col col-20">
                                    <label for="Date">Date* </label>
                                </div>
                                <div class="col col-80">
                                    <input ng-model="model.PurchaseDate" value=" {{model.PurchaseDate | date: 'dd-MM-yyyy'}}"
                                        ng-required="true" class="formControl" date ion-datetime-picker>
                                    <span class="errorMsg text-center" ng-show="formsubmit && (FormPurchaseReturn.PurchaseDate.$dirty || FormPurchaseReturn.PurchaseDate.$invalid)">
                                        <span ng-show="FormPurchaseReturn.PurchaseDate.$error.required">
                                            Please Select Date
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr size=2 style="margin:0px">
                <div class="row">
                    <div class="md-form col-md-12">
                        <button ng-class="SelectedTab == 1?'cBtn cBtn-skyblue':'cBtn cBtn-green'" ng-click="ChangeTab(1)">Main</button>
                        <button ng-class="SelectedTab == 2?'cBtn cBtn-skyblue':'cBtn cBtn-green'" ng-click="ChangeTab(2)">More
                            Header</button>
                    </div>
                </div>
                <hr size=2 style="margin:0px">

                <span ng-if="SelectedTab==1">
                    <div class="row responsive-sm">
                        <a ng-click="AddPurchaseReturnMainItemInList()" class="custlablebtn">
                            <span>Add New</span>
                        </a>
                    </div>

                    <div class="row responsive-sm">
                        <div class="infoBox02">
                            <div class="row responsive-sm">
                                <div class="col col-7">
                                    <label>Sr No</label>
                                </div>
                                <div class="col col-7">
                                    <label>Item Code*</label>
                                    <scanner-widget status="ItemCode" obj="WorkingPurchaseReturnMain"></scanner-widget>
                                </div>
                                <div class="col col-7">
                                    <label>Descriptions</label>
                                </div>
                                <div class="col col-7">
                                    <label>Batch No.</label>
                                    <scanner-widget status="Batch" obj="WorkingPurchaseReturnMain"></scanner-widget>
                                </div>
                                <div class="col col-7">
                                    <label>Location</label>
                                </div>
                                <div class="col col-7">
                                    <label>UOM*</label>
                                </div>
                                <div class="col col-7">
                                    <label>Qty*</label>
                                </div>
                                <div class="col col-7">
                                    <label>Unit Price</label>
                                </div>
                                <div class="col col-7">
                                    <label>Discount</label>
                                </div>
                                <div class="col col-7">
                                    <label>SubTotal</label>
                                </div>
                                <div class="col col-7">
                                    <label>Tax Code</label>
                                </div>
                                <div class="col col-7">
                                    <label>Tax Rate</label>
                                </div>
                                <div class="col col-7">
                                    <label>Tax</label>
                                </div>
                                <div class="col col-7">
                                    <label>Total (ex)</label>
                                </div>
                                <div class="col col-7">
                                    <label>Total (inc)</label>
                                </div>
                            </div>
                            <div class="row responsive-sm" ng-repeat="o in lstSelectedPurchaseReturnMain">
                                <div class="col col-7">
                                    <input ng-model="o.sequence" class="formControl">
                                </div>
                                <div class="col col-7" ng-if="!o.id" hide-reset="true" modal-title="Select Item"
                                    modal-select="" ng-model="o.ItemCode" options="lstItems" on-select="AddItemCode(o)"
                                    option-property="ItemCode" has-search="true">
                                    <!-- <select class="formControl" ng-model="o.ItemCode" ng-change="AddItemCode(o)"
                                        ng-disabled="o.id > 0">
                                        <option value="{{p.ItemCode}}" ng-repeat="p in lstItems">{{p.ItemCode}}</option>
                                    </select> -->
                                    <div class="row itemdrp" style="padding:0">
                                        <input class="formControl" ng-model="o.ItemCode" readonly style="cursor: pointer !important;float: left;border-right: none;border-top-right-radius:0px;border-bottom-right-radius: 0px; ">
                                        <button style="padding: 2px"> <i class="icon ion-arrow-down-b" title="Select"></i>
                                            <div class="option">

                                                <div class="row" style="font-weight: bold;font-size: 12px;" ng-show="$index==0">
                                                    <div class="col" style="padding: 0" class="text-center">Item Code
                                                    </div>
                                                    <div class="col" style="padding: 0" class="text-center">Item Name
                                                    </div>
                                                    <div class="col" style="padding: 0" class="text-center">Description
                                                    </div>
                                                    <div class="col" style="padding: 0" class="text-center">Description2
                                                    </div>
                                                    <div class="col" style="padding: 0" class="text-center">Bal Qty
                                                    </div>
                                                </div>
                                                <div class="row" style="font-size: 14px;">
                                                    <div class="col" class="text-center">{{option.ItemCode}}</div>
                                                    <div class="col" class="text-center">{{option.ItemName}}</div>
                                                    <div class="col" class="text-center"> {{option.Descriptions ||
                                                        "N/A"}} </div>
                                                    <div class="col" class="text-center"> {{option.Descriptions2 ||
                                                        "N/A"}}</div>
                                                    <div class="col" class="text-center">{{option.itembatches[0].BalQty
                                                        || "N/A"}}</div>
                                                </div>

                                            </div>
                                        </button>
                                    </div>
                                </div>
                                <div class="col col-7" ng-if="o.id> 0">
                                    <input ng-model="o.ItemCode" class="formControl" readonly>
                                </div>
                                <div class="col col-7">
                                    <input ng-model="o.Descriptions" class="formControl" readonly>
                                </div>
                                <div class="col col-7">
                                    <select class="formControl" ng-model="o.BatchNo">
                                        <option value="{{p.BatchNumber}}" ng-repeat="p in o.BatchList">{{p.BatchNumber}}
                                        </option>
                                    </select>
                                </div>
                                <div class="col col-7">
                                    <select class="formControl" ng-model="o.idLocations" ng-change="AddLocation(o)">
                                        <option value="{{p.id}}" ng-selected="o.idLocations == p.id" ng-repeat="p in lstLocations">{{p.Name}}</option>
                                    </select>
                                </div>
                                <div class="col col-7">
                                    <select class="formControl" ng-model="o.UOM" ng-change="FillItemUnitPrice(o)">
                                        <option value="{{item.UOM}}" ng-repeat="item in o.listUOM | orderBy : 'UOM'">
                                            {{item.UOM}}</option>
                                    </select>
                                </div>
                                <div class="col col-7">
                                    <input id="Qty" ng-model="o.Qty" class="formControl" ng-change="AddTaxCode(o)">
                                </div>
                                <div class="col col-7">
                                    <input id="Price" ng-model="o.Price" class="formControl" ng-change="AddTaxCode(o)"
                                        manage-Dynamicfraction="{{Dynamicfraction}}">
                                </div>
                                <div class="col col-7">
                                    <input id="DiscountAmount" ng-model="o.DiscountAmount" class="formControl"
                                        ng-change="AddDiscountAmount(o)" manage-Dynamicfraction="{{Dynamicfraction}}">
                                </div>
                                <div class="col col-7">
                                    <input ng-model="o.Total" class="formControl" readonly manage-Dynamicfraction="{{Dynamicfraction}}">
                                </div>
                                <div class="col col-7">
                                    <select class="formControl" ng-model="o.TaxCode" ng-change="AddTaxCode(o)">
                                        <option value="{{p.TaxType}}" ng-repeat="p in lstTaxCode">{{p.TaxType}}</option>
                                    </select>
                                </div>
                                <div class="col col-7">
                                    <input ng-model="o.TaxRate" class="formControl" readonly manage-Dynamicfraction="{{Dynamicfraction}}">
                                </div>
                                <div class="col col-7">
                                    <input ng-model="o.Tax" class="formControl" readonly manage-Dynamicfraction="{{Dynamicfraction}}">
                                </div>
                                <div class="col col-7">
                                    <input ng-model="o.Total" class="formControl" readonly manage-Dynamicfraction="{{Dynamicfraction}}">
                                </div>
                                <div class="col col-7">
                                    <input ng-model="o.FinalTotal" class="formControl" readonly manage-Dynamicfraction="{{Dynamicfraction}}">
                                </div>
                                <a ng-click="RemovePurchaseReturnMainItemInList($index)" class="RemoveBtn">
                                    <i class="ion-trash-a" title="Remove Item"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="s10"></div>
                    <div class="row responsive-sm">
                        <div class="col col-30">
                            <div class="infoBox02">
                                <div class="row responsive-sm">
                                    <div class="col col-25">
                                        <label for="Inclusive">Inclusive?</label>
                                    </div>
                                    <div class="col col-75">
                                        <input type="checkbox" class="formControl_checkbox" id="IsInclusive" ng-model="model.IsInclusive"
                                            ng-change="ChangeInclusivePrice()">
                                    </div>
                                </div>
                                <div class="row responsive-sm">
                                    <div class="col col-25">
                                        <label for="Currency">Currency*</label>
                                    </div>
                                    <div class="col col-75">
                                        <select class="formControl" name="CurrencyCode" ng-required="true" ng-disabled="model.CustomerCode ==''"
                                            ng-change="changeRateByCurrency(model.CurrencyCode)" ng-model="model.CurrencyCode">
                                            <option value="">Select Currency</option>
                                            <option ng-repeat="o in lstCurrency" value={{o.CurrencyCode}}>
                                                {{o.CurrencyWord}}</option>
                                        </select>
                                        <span class="errorMsg text-center" ng-show="formsubmit && (FormPurchaseReturn.CurrencyCode.$dirty || FormPurchaseReturn.CurrencyCode.$invalid)">
                                            <span ng-show="FormPurchaseReturn.CurrencyCode.$error.required">
                                                Please Select Currency Code
                                            </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="row responsive-sm">
                                    <div class="col col-25">
                                        <label for="Rate">Rate</label>
                                    </div>
                                    <div class="col col-75">
                                        <input type="text" id="CurrencyRate" class="formControl" ng-disabled="true"
                                            name="CurrencyRate" ng-model="model.CurrencyRate">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-30">
                            <div class="infoBox02">
                                <div class="row responsive-sm">
                                    <div class="col col-40">
                                        <label for="LocalTotal">Local Total </label>
                                    </div>
                                    <div class="col col-60">
                                        <input type="text" id="LocalNetTotal" class="formControl" readonly name="LocalNetTotal"
                                            placeholder="Total" ng-model="model.LocalNetTotal" manage-Dynamicfraction="{{Dynamicfraction}}">
                                    </div>
                                </div>

                                <div class="row responsive-sm">
                                    <div class="col col-40">
                                        <label for="Discount">Discount(per) </label>
                                    </div>
                                    <div class="col col-60">
                                        <input type="number" id="Discount" class="formControl" ng-blur="ManageDiscount()"
                                            name="Discount" placeholder="Discount" ng-model="model.DiscountRate" min="1"
                                            max="100" limit-to-max>
                                    </div>
                                </div>
                                <div class="row responsive-sm">
                                    <div class="col col-40">
                                        <label for="TaxableAmount">Taxable Amount </label>
                                    </div>
                                    <div class="col col-60">
                                        <input type="text" id="Total" class="formControl" readonly name="Total"
                                            placeholder="Total" ng-model="model.Total" manage-Dynamicfraction="{{Dynamicfraction}}">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col col-30">
                            <div class="infoBox02">
                                <div class="row responsive-sm">
                                    <div class="col col-25">
                                        <label for="SubTotal">Sub Total </label>
                                    </div>
                                    <div class="col col-75">
                                        <input type="text" id="Total1" class="formControl" name="Total" readonly
                                            placeholder="Sub Total" ng-model="model.Total" manage-Dynamicfraction="{{Dynamicfraction}}">
                                    </div>
                                </div>
                                <div class="row responsive-sm">
                                    <div class="col col-25">
                                        <label for="Tax">Tax </label>
                                    </div>
                                    <div class="col col-75">
                                        <input type="text" id="Tax" class="formControl" name="Tax" readonly placeholder="Tax"
                                            ng-model="model.Tax" manage-Dynamicfraction="{{Dynamicfraction}}">
                                    </div>
                                </div>
                                <div class="row responsive-sm">
                                    <div class="col col-25">
                                        <label for="Total">Total </label>
                                    </div>
                                    <div class="col col-75">
                                        <input type="text" id="NetTotal" class="formControl" readonly name="NetTotal"
                                            placeholder="Total" ng-model="model.NetTotal" manage-Dynamicfraction="{{Dynamicfraction}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>

                <span ng-if="SelectedTab==2">
                    <div class="row responsive-sm">
                        <div class="col col-50">
                            <h4><b>Document Information</b></h4>
                            <div class="infoBox02">
                                <div class="row responsive-sm">
                                    <div class="col col-20">
                                        <label for="Description">Description </label>
                                    </div>
                                    <div class="col col-80">
                                        <textarea type="text" id="Description" class="formControl md-textarea" rows="1"
                                            name="Description" ng-model="model.Description"></textarea>
                                    </div>
                                </div>
                                <div class="row responsive-sm">
                                    <div class="col col-20">
                                        <label for="Ref">Ref </label>
                                    </div>
                                    <div class="col col-80">
                                        <input type="text" id="Ref" class="formControl" name="Ref" ng-model="model.Ref"
                                            maxlength="50" ng-maxlength="50">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-50">
                            <h4><b>Supplier Information</b></h4>
                            <div class="infoBox02">
                                <div class="row responsive-sm">
                                    <div class="col col-20">
                                        <label for="Attentions">Attention</label>
                                    </div>
                                    <div class="col col-80">
                                        <input type="text" id="Attentions" class="formControl" name="Attentions"
                                            maxlength="50" ng-maxlength="50" ng-model="model.Attentions">
                                    </div>
                                </div>
                                <div class="row responsive-sm">
                                    <div class="col col-20">
                                        <label for="Phone">Phone</label>
                                    </div>
                                    <div class="col col-80">
                                        <input type="tel" id="PhoneNumber" class="formControl" name="PhoneNumber"
                                            ng-model="model.PhoneNumber" placeholder="+11234567890">
                                        <br />
                                        <!-- <span ng-show="isValidMobile" class="errorMsg text-center">
                                            Please enter valid phone number
                                        </span> -->
                                    </div>
                                </div>
                                <div class="row responsive-sm">
                                    <div class="col col-20">
                                        <label for="Fax">Fax</label>
                                    </div>
                                    <div class="col col-80">
                                        <input type="text" id="Fax" class="formControl" name="Fax" ng-model="model.Fax"
                                            maxlength="50" ng-maxlength="50">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>

                <div class="row">
                    <div class="col">
                        <button class="cBtn cBtn-green cBtn-block cBtn-shadow" ng-click="SavePurchaseReturn(FormPurchaseReturn)"
                            type="submit">
                            <i class="ion-document-text" title="Save"></i>
                            Save
                        </button>
                    </div>
                    <!-- <div class="col col-50">
                        <button class="cBtn cBtn-skyblue cBtn-block cBtn-shadow" ng-click="ResetAll()" type="submit">
                            <i class="ion-close-circled"></i>
                            Cancel
                        </button>
                    </div> -->
                </div>
            </form>
        </div>
    </ion-content>
    <style>
        .submenu>ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .submenu>ul>li {
            float: left;
            display: block;
            color: #111;
            text-align: center;
            padding: 5px 4px;
            text-decoration: none;
            background-color: silver;
            margin-right: 10px;
        }

        .submenu>ul>li:hover:not(.active) {
            background-color: white;
            color: #111;
        }

        .submenu>ul>li.active {
            background-color: #337ab7;
            color: white;
        }
    </style>
</ion-view>