<ion-view class="patternBg">
    <ion-content>
        <div ng-if="IsList">
            <div class="container">
                <div class="s10"></div>
                <div class="row row-center">
                    <div class="col">
                        <div class="searchBox">
                            <input id="mytext" type="text" ng-model="Searchmodel.Search" class="formControl"
                                ng-model-options="{ debounce: 1500 }" ng-change="FilterData()" placeholder="Filter by  Name or Description">
                            <button type="button" class="cBtn cBtn-blue" ng-click="FilterData()">
                                <span>Search</span>
                            </button>
                            <a ng-click="Add()" class="cBtn cBtn-green cBtn-autoWidth d-flex items-center justify-center gap-2">
                                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                                </svg>
                                 <span>Add Role</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="s20"></div>
                <div class="cDataTable">
                    <table id="RoleTable" class="cell-border" width="100%">
                        <thead>
                            <tr>
                                <th class="all">
                                    No
                                </th>
                                <th>Name </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Is Active
                                </th>
                                <th class="all">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="o in lstRoles">
                                <td>{{$index + 1}}</td>
                                <td>{{o.Name || "N/A" }}</td>
                                <td>{{o.Description || "N/A"}}</td>
                                <td><span style="font-size: 20px;color: green" ng-if="o.IsActive==1" class="ng-scope">✔</span>
                                    <span style="font-size: 20px;color: red" ng-if="o.IsActive==0" class="ng-scope">✖</span>
                                </td>
                                <td>
                                    <a ng-click="CopyToModel(o)" class="btnAction btnAction-edit">
                                        <i class="ion-edit" title="Edit">
                                        </i>
                                    </a>
                                    <a ng-click="DeleteRoles(o.id)" class="btnAction btnAction-error">
                                        <i class="ion-trash-a" title="Delete">
                                        </i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END .container -->
        </div>
        </div>
        <!-- ng-if="!IsList" -->
        <div class="container" ng-if="!IsList">
            <div class="s20"></div>
            <!-- <a ng-click="ResetAll()" class="cBtn cBtn-blue">
                <i class="ion-arrow-left-c" title="Back">
          Return To List
        </i>
            </a>

            <div class="s10"></div> -->
            <form name="FormRole" class="cForm light">
                <div class="infoBox02">
                    <div class="container">
                        <div class="s25"></div>
                        <div class="row responsive-sm">
                            <div class="col col-33">
                                <label for="">Name*</label>
                                <input type="text" class="formControl" maxlength="100" ng-maxlength="100" name="Name"
                                    ng-required="true" placeholder="Name" ng-model="model.Name">
                                <span class="errorMsg text-center" ng-show="formsubmit && (FormRole.Name.$dirty || FormRole.Name.$invalid)">
                                    <span ng-show="FormRole.Name.$error.required">
                                        Please Enter Name
                                    </span>

                                    <!-- <span ng-show="FormRole.Name.$error.maxlength">
                                        Maximum length is 100.
                                    </span> -->
                                </span>
                            </div>
                        </div>
                        <div class="row responsive-sm">
                            <div class="col col-33">
                                <label for="">Description</label>
                                <input type="text" name="Description" maxlength="100" ng-maxlength="100" class="formControl"
                                    placeholder="Description" ng-model="model.Description">
                                <!-- <span class="errorMsg text-center" ng-show="formsubmit && (FormRole.Description.$dirty || FormRole.Description.$invalid)">
                                    <span ng-show="FormRole.Description.$error.maxlength">
                                        Maximum length is 100.
                                    </span>
                                </span> -->
                            </div>

                        </div>

                        <div class="row responsive-sm">
                            <div class="col">
                                <label class="formCheck" for="Active"><input type="checkbox" id="Active" ng-model="model.IsActive"><span>Active</span></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="s20"></div>
                <div class="row">
                    <div class="col">
                        <button class="cBtn cBtn-green cBtn-block cBtn-shadow" ng-click="SaveRoles(FormRole)" type="submit"><i
                                class="ion-document-text"></i>
                            Save</button>
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>